.container-pe {
    max-width: 1000px;
    margin: 0 auto;
}

.container-pe-2 {
    max-width: 200px;
    margin: 0 auto;
}

h4 {
    color: darkolivegreen;
}

#age {
    border: 2px solid black;
    padding: 2px 25px;
}

input {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}